<div class="panel panel-default">
    <div class="panel-body">

        <form id="document-edit" (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="name">Document Title:</label>
                    <input #docName="ngModel" required [ngModel]="document.name" name="name" type="text" id="name" class="form-control" size="120" max="120">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="description">Document Description:</label>
                    <input [ngModel]="document.description" name="description" type="text" id="description" class="form-control" size="120" max="255">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="url">Document URL:</label>
                    <input #docUrl="ngModel" [ngModel]="document.url" required name="url" type="text" id="url" class="form-control" size="150" max="255">
                    <div class="alert alert-danger" *ngIf="!docUrl.valid && docUrl.touched|| !docName.valid && docName.touched">
                        <p>The Document Title and Document URL are Required fields.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 btn-toolbar">
                    <button [disabled]="!f.valid" class="btn btn-success" type="submit">Save</button>
                    <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
                </div>
            </div>

        </form>

    </div>
</div>